/* Main Elements */

body {
  padding-top: 5rem;
  background-color: #272633;
}

h1 {
    font-family: 'Roboto Slab', serif;
    color: #c9d030;
}

h2 {
    font-family: 'Roboto Slab', serif;
    color: #50becf;
}

h3 {
    font-family: 'Roboto Slab', serif;
    color: #50becf;
}

h4 {
    font-family: 'Roboto Slab', serif;
    color: #50becf;
}

h5 {
    font-family: 'Roboto Slab', serif;
    color: #50becf;
}

h6 {
    font-family: 'Roboto Slab', serif;
    color: #50becf;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #f3f3f6;
}


/* Navbar */
a {
  color: #50becf;
}

a:active {
  color: #c9d030;
  text-decoration: none;
}

a:hover, 
a:focus {
  color: #f3f3f6;
  text-decoration: none;
}

.timer-format {
  color: #f3f3f6;
}

.ten-left {
  color: #c9d030;
}

.five-left {
  color: #edad3d;
}



/* Quiz Section */

.card {
  border: none;
}

.card-header {
  border: none;
  text-align: center;
}

.card-body {
  border: none;
  color: #f3f3f6;
  text-align: center;
}

.card-footer {
  border: none;
  color: #edad3d;
}

.btn-primary {
  color: #f3f3f6;
  font-family: 'Roboto', sans-serif;
  background-color: #edad3d;
  border-color: #f3f3f6;
}

.btn-primary:hover {
  color: #f3f3f6;
  font-family: 'Roboto', sans-serif;
  background-color: #c9d030;
  border-color: #f3f3f6;
}

.btn-primary:focus, .btn-primary.focus {
  color: #f3f3f6;
  font-family: 'Roboto', sans-serif;
  background-color: #c9d030;
  border-color: #f3f3f6;
  box-shadow: 0 0 0 0.2rem #c9d030;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #f3f3f6;
  font-family: 'Roboto', sans-serif;
  background-color: #c9d030;
  border-color: #f3f3f6;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #c9d030;
}




.lead {
    font-weight: 400;
    font-size: 17px;
    color: #50becf;
}

.pageheader {
    padding-top: 2rem;
}


/* Form */

.form-group label {
  color: #f3f3f6;
  font-family: 'Roboto Slab', serif;
}

.form-control {
  color: #646c7e;
  font-family: 'Roboto', sans-serif;
}

.text-muted {
  color: #b3b4b9!important;
}

